In [25]:
%run ./stollen.ipynb
%run ./confiscated.ipynb
print(total_stollen)
print(total_conf)
df = total_stollen
df = df.append(total_conf.iloc[0])
df

<ipython-input-25-a0516359850a>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_stollen = pd.read_csv(csv_raw, skiprows=6, sep='";"', names=['Desc', '2010', '2011', '2012', '2013', '2014', '2015',

            Desc   2016   2017   2018   2019
2  Stollen bikes  96675  78835  68190  66690
                Desc   2016   2017   2018   2019
8  Confiscated bikes  65308  81128  78506  96061

                Desc   2016   2017   2018   2019
2      Stollen bikes  96675  78835  68190  66690
8  Confiscated bikes  65308  81128  78506  96061