In [2]:
%run ./stollen.ipynb
%run ./confiscated.ipynb
%run ./Purchased.ipynb
%run ./Population.ipynb

<ipython-input-2-a0516359850a>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_stollen = pd.read_csv(csv_raw, skiprows=6, sep='";"', names=['Desc', '2010', '2011', '2012', '2013', '2014', '2015',

                Desc    2011    2012    2013    2014    2015    2016    2017  \
0    Aantal (x 1000)    1198    1035    1008    1051     983     928     957
1  Waarde (x â‚¬ 1000)  879240  769159  797264  886605  899020  936829  976034

      2018  Growth ratio
0     1011          0.06
1  1220291          0.25
(2, 10)

<ipython-input-2-fd401fa397d0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchased_ams['Desc'][1]='Purchased bikes AMS'
<ipython-input-2-4d554cba7cdf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_purchased['Desc'][1] = 'Purchased bikes AMS'
<ipython-input-2-145503865552>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc'][1] = 'Pop_Increase_AMS'
<ipython-input-2-145503865552>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc'][5] = 'Pop_Increase_NL'

In [5]:
bigdata = pd.concat([total_purchased, total_conf, population], ignore_index=True, sort=False)
bigdata

                        Desc    2016    2017     2018     2019
0            Purchased bikes  928000  957000  1011000  1072000
1        Purchased bikes AMS   92802   89994    86224    80257
2   fetched out bikes_AVG NL   15000   15000    15000    15000
3  fetched out bikes_AVG AMS    6000    6000     6000     6000
4          Confiscated bikes   65308   81128    78506    96061
5           Pop_Increase_AMS   10239    9364     8671     9393
6            Pop_Increase_NL  102387   99577   101669   125422