In [1]:
import pandas as pd
import numpy as np

In [15]:
orig_url = 'https://drive.google.com/file/d/1zIs9KhvOfe0X8c7DQA4UwqrZKNQj-W10/view?usp=sharing'
file_id = orig_url.split('/')[-2]
url_1 = 'https://drive.google.com/uc?export=download&id=' + file_id

In [16]:
df_population = pd.read_excel(url_1, skiprows=4, nrows=7, names =['Desc','tbd','2014','2015','2016','2017','2018','2019','2020'] )

In [17]:
df_population.head()

,Desc,tbd,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amsterdam,811185.0,11087.0,12441.0,10239.0,9364.0,8671.0,9393.0,872380.0
2,Rotterdam,618357.0,5295.0,5954.0,5054.0,4052.0,5815.0,6550.0,651168.0
3,'s-Gravenhage,508940.0,5921.0,5127.0,4894.0,7679.0,5427.0,8005.0,545838.0
4,Utrecht,328164.0,6012.0,4791.0,4071.0,4445.0,5312.0,4731.0,357597.0

In [18]:
df_population = df_population.drop(['tbd','2014','2015','2020'], axis=1)

In [19]:
df_population = df_population.drop([0,2,3,4,6], axis=0)

In [20]:
df_population

        Desc      2016     2017      2018      2019
1  Amsterdam   10239.0   9364.0    8671.0    9393.0
5  Nederland  102387.0  99577.0  101669.0  125422.0

In [28]:
df_population['Desc'][1] = 'Increase_AMS'
df_population['Desc'][5] = 'Increase_NL'

<ipython-input-28-837a705c2eea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population['Desc'][1] = 'Increase_AMS'
<ipython-input-28-837a705c2eea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population['Desc'][5] = 'Increase_NL'

In [30]:
df_population

           Desc      2016     2017      2018      2019
1  Increase_AMS   10239.0   9364.0    8671.0    9393.0
5   Increase_NL  102387.0  99577.0  101669.0  125422.0