In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
## Importing the population pct from the shared Google drive

orig_url = 'https://drive.google.com/file/d/1zIs9KhvOfe0X8c7DQA4UwqrZKNQj-W10/view?usp=sharing'
file_id = orig_url.split('/')[-2] 

url = 'https://drive.google.com/uc?export=download&id=' + file_id 

##Reading it in the Jupiter Notebook
pop_percentage = pd.read_excel(url, skiprows=13,nrows = 7, names=['Desc.','tbd','2014','2015','2016','2017','2018','2019','2020'])

In [3]:
pop_percentage

           Desc.  tbd  2014  2015  2016  2017  2018  2019  2020
0            NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1      Amsterdam        1.4   1.5   1.2   1.1   1.0   1.1   NaN
2      Rotterdam        0.9   1.0   0.8   0.6   0.9   1.0   NaN
3  's-Gravenhage        1.2   1.0   0.9   1.5   1.0   1.5   NaN
4        Utrecht        1.8   1.4   1.2   1.3   1.5   1.3   NaN
5      Nederland  NaN   0.4   0.5   0.6   0.6   0.6   0.7   NaN
6            NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [4]:
#Dropping unncessary columns + rows

pop_percentage  = pop_percentage.drop(['tbd','2014','2015','2020'], axis=1)
pop_percentage  = pop_percentage.drop([0,2,3,4,6], axis=0)

In [5]:
pop_percentage ['Desc.'][1] = 'Pct_Population_AMS'
pop_percentage ['Desc.'][5] = 'Pct_Population_NL'

<ipython-input-5-0eaa8e6bfa7f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_percentage ['Desc.'][1] = 'Pct_Population_AMS'
<ipython-input-5-0eaa8e6bfa7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_percentage ['Desc.'][5] = 'Pct_Population_NL'

In [6]:
pop_percentage

                Desc.  2016  2017  2018  2019
1  Pct_Population_AMS   1.2   1.1   1.0   1.1
5   Pct_Population_NL   0.6   0.6   0.6   0.7

In [15]:
 ## Importing the table Popuplation increase from the shared Google drive
url = 'https://drive.google.com/uc?export=download&id='

orig_url = 'https://drive.google.com/file/d/1zIs9KhvOfe0X8c7DQA4UwqrZKNQj-W10/view?usp=sharing'
file_id = orig_url.split('/')[-2] 

url = 'https://drive.google.com/uc?export=download&id=' + file_id 

##Reading it in the Jupiter Notebook
population= pd.read_excel(url, skiprows=4,nrows = 7, names=['Desc.','start2014','2014','2015','2016','2017','2018','2019','tbd'])

In [16]:
#Checking the table for preparing the data
population

,Desc.,start2014,2014,2015,2016,2017,2018,2019,tbd
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Amsterdam,811185.0,11087.0,12441.0,10239.0,9364.0,8671.0,9393.0,872380.0
2,Rotterdam,618357.0,5295.0,5954.0,5054.0,4052.0,5815.0,6550.0,651168.0
3,'s-Gravenhage,508940.0,5921.0,5127.0,4894.0,7679.0,5427.0,8005.0,545838.0
4,Utrecht,328164.0,6012.0,4791.0,4071.0,4445.0,5312.0,4731.0,357597.0
5,Nederland,16829289.0,71437.0,78394.0,102387.0,99577.0,101669.0,125422.0,17407585.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Dropping unncessary columns + rows

population = population.drop(['tbd','2014','2015'], axis=1)
population = population.drop([0,2,3,4,6], axis=0)

In [18]:
#Changing the names of the key rows to meaningful names
population['Desc.'][1] = 'Pop_Increase_AMS'
population['Desc.'][5] = 'Pop_Increase_NL'

population

<ipython-input-18-ebb7bb9554ed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc.'][1] = 'Pop_Increase_AMS'
<ipython-input-18-ebb7bb9554ed>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc.'][5] = 'Pop_Increase_NL'

              Desc.   start2014      2016     2017      2018      2019
1  Pop_Increase_AMS    811185.0   10239.0   9364.0    8671.0    9393.0
5   Pop_Increase_NL  16829289.0  102387.0  99577.0  101669.0  125422.0

In [19]:
#The data in this table is incremental, so we need to calculate it, and for that I star by transposing
population.transpose()

                          1                5
Desc.      Pop_Increase_AMS  Pop_Increase_NL
start2014            811185      1.68293e+07
2016                  10239           102387
2017                   9364            99577
2018                   8671           101669
2019                   9393           125422

In [37]:
#In order to calculate it easily, I have created 2 lists
popNL = list(population.iloc[1])[2:]
popNL

[102387.0, 99577.0, 101669.0, 125422.0]

In [43]:
population_NL =1.68293e+07
popN=['Pop_Increase_NL',1.68293e+07,]
for p in popNL:
    population_NL += p
    popN.append(population_NL)
popN

['Pop_Increase_NL', 16829300.0, 16931687.0, 17031264.0, 17132933.0, 17258355.0]

In [38]:
popAMS = list((population.iloc[0])[2:])
popAMS

[10239.0, 9364.0, 8671.0, 9393.0]

In [42]:
population_AMS =811185
popA=['Pop_Increase_AMS',811185,]
for p in popAMS:
    population_AMS += p
    popA.append(population_AMS)
popA

['Pop_Increase_AMS', 811185, 821424.0, 830788.0, 839459.0, 848852.0]

In [45]:
#Here i added back the lists to the dataframe
population.iloc[1]= popN
population.iloc[0]= popA

In [46]:
population

,Desc.,start2014,2016,2017,2018,2019
1,Pop_Increase_AMS,811185.0,821424.0,830788.0,839459.0,848852.0
5,Pop_Increase_NL,16829300.0,16931687.0,17031264.0,17132933.0,17258355.0