In [1]:
%run ./confiscated.ipynb
%run ./stolen.ipynb
%run ./Purchased.ipynb
%run ./Population.ipynb

<ipython-input-1-b74041b8537f>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_stolen = pd.read_csv(csv_raw, skiprows=6, sep='";"', names=['Desc', '2010', '2011', '2012', '2013', '2014', '2015',

                Desc    2011    2012    2013    2014    2015    2016    2017  \
0    Aantal (x 1000)    1198    1035    1008    1051     983     928     957
1  Waarde (x â‚¬ 1000)  879240  769159  797264  886605  899020  936829  976034

      2018  Growth ratio
0     1011          0.06
1  1220291          0.25
(2, 10)

<ipython-input-1-42f1a593a19d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_percentage ['Desc'][1] = 'Pct_Population_AMS'
<ipython-input-1-42f1a593a19d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_percentage ['Desc'][5] = 'Pct_Population_NL'
<ipython-input-1-ccd29760d882>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc'][1] = 'Pop_Increase_AMS'
<ipython-input-1-ccd29760d882>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['Desc'][5] = 'Pop_Increase_NL'

In [2]:
total_purchased['Desc'] = total_purchased.index
total_purchased

,2016,2017,2018,2019,Desc
Desc,,,,,
Total amount bikes NL,19032000,19960000,20917000,21928000,Total amount bikes NL
Total amount bikes AMS,687037,732057,778739,828274,Total amount bikes AMS
Purchased bikes NL,928000,957000,1011000,1072000,Purchased bikes NL
Purchased bikes AMS,45020,46682,49535,52726,Purchased bikes AMS
Fetched bikes NL,15000,15000,15000,15000,Fetched bikes NL
Fetched bikes AMS,6000,6000,6000,6000,Fetched bikes AMS
Purchased - Fetched bikes NL,913000,942000,996000,1057000,Purchased - Fetched bikes NL
Purchased - Fetched bikes AMS,39020,40682,43535,46726,Purchased - Fetched bikes AMS

In [3]:
# A bit of fiddling to keep only relevant columns.
cons_table = pd.concat([total_purchased, total_conf, pop_percentage, total_stolen], ignore_index=True, sort=False)
cons_table = cons_table.transpose()
cons_table = cons_table.drop([0, 2, 4, 6, 8, 11], axis=1).transpose().set_index('Desc').transpose()
cons_table

Desc,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes
2016,687037,45020,6000,39020,21769,1.2,96675
2017,732057,46682,6000,40682,27043,1.1,78835
2018,778739,49535,6000,43535,26169,1,68190
2019,828274,52726,6000,46726,32020,1.1,66690

In [4]:
# Adding calculation of net increase in bikes in absolute numbers
cons_table['Net increase bikes, abs'] = cons_table['Purchased - Fetched bikes AMS']-cons_table['Conf.bikes left market']
cons_table

Desc,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs"
2016,687037,45020,6000,39020,21769,1.2,96675,17251
2017,732057,46682,6000,40682,27043,1.1,78835,13639
2018,778739,49535,6000,43535,26169,1,68190,17366
2019,828274,52726,6000,46726,32020,1.1,66690,14706

In [5]:
# Adding calculation of net increase in bikes in persentage
cons_table['Net increase bikes, %'] = cons_table['Net increase bikes, abs']/cons_table['Total amount bikes AMS']*100
cons_table

Desc,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %"
2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093
2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311
2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002
2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755

***Amendments of calculation of total amount of bikes per year.***

In [6]:
q2015 = 847000
amendment = [q2015, 0, 0, 0, 0]
amendment

[847000, 0, 0, 0, 0]

In [7]:
cons_table = cons_table.transpose()

In [8]:
cons_table

                                  2016     2017     2018    2019
Desc
Total amount bikes AMS          687037   732057   778739  828274
Purchased bikes AMS              45020    46682    49535   52726
Fetched bikes AMS                 6000     6000     6000    6000
Purchased - Fetched bikes AMS    39020    40682    43535   46726
Conf.bikes left market           21769    27043    26169   32020
Pct_Population_AMS                 1.2      1.1        1     1.1
Stolen bikes                     96675    78835    68190   66690
Net increase bikes, abs          17251    13639    17366   14706
Net increase bikes, %          2.51093  1.86311  2.23002  1.7755

In [9]:
cons_table['2015'] = pd.Series()
cons_table

<ipython-input-9-82065c977c74>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cons_table['2015'] = pd.Series()

                                  2016     2017     2018    2019  2015
Desc
Total amount bikes AMS          687037   732057   778739  828274   NaN
Purchased bikes AMS              45020    46682    49535   52726   NaN
Fetched bikes AMS                 6000     6000     6000    6000   NaN
Purchased - Fetched bikes AMS    39020    40682    43535   46726   NaN
Conf.bikes left market           21769    27043    26169   32020   NaN
Pct_Population_AMS                 1.2      1.1        1     1.1   NaN
Stolen bikes                     96675    78835    68190   66690   NaN
Net increase bikes, abs          17251    13639    17366   14706   NaN
Net increase bikes, %          2.51093  1.86311  2.23002  1.7755   NaN

In [10]:
cons_table = cons_table[['2015', '2016', '2017', '2018', '2019']]
cons_table

                               2015     2016     2017     2018    2019
Desc
Total amount bikes AMS          NaN   687037   732057   778739  828274
Purchased bikes AMS             NaN    45020    46682    49535   52726
Fetched bikes AMS               NaN     6000     6000     6000    6000
Purchased - Fetched bikes AMS   NaN    39020    40682    43535   46726
Conf.bikes left market          NaN    21769    27043    26169   32020
Pct_Population_AMS              NaN      1.2      1.1        1     1.1
Stolen bikes                    NaN    96675    78835    68190   66690
Net increase bikes, abs         NaN    17251    13639    17366   14706
Net increase bikes, %           NaN  2.51093  1.86311  2.23002  1.7755

In [11]:
cons_table = cons_table.transpose()

In [12]:
cons_table

Desc,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %"
2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093
2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311
2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002
2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755

In [13]:
cons_table['Amount bikes AMS'] = amendment
cons_table = cons_table.reset_index()

In [14]:
cons_table

Desc,index,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %",Amount bikes AMS
0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,847000
1,2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093,0
2,2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311,0
3,2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002,0
4,2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755,0

In [15]:
for i in range(1, len(cons_table)):
    cons_table.loc[i, 'Amount bikes AMS'] = (cons_table.loc[i-1, 'Amount bikes AMS'] +
                                             cons_table.loc[i, 'Net increase bikes, abs'])

In [16]:
cons_table

Desc,index,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %",Amount bikes AMS
0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,847000
1,2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093,864251
2,2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311,877890
3,2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002,895256
4,2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755,909962

In [17]:
# Adding calculation of net increase in bikes in persentage
cons_table['Net increase bikes, %2'] = cons_table['Net increase bikes, abs']/cons_table['Amount bikes AMS']*100

In [18]:
cons_table

Desc,index,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %",Amount bikes AMS,"Net increase bikes, %2"
0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,847000,NaN
1,2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093,864251,1.99606
2,2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311,877890,1.55361
3,2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002,895256,1.93978
4,2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755,909962,1.61611

In [19]:
cons_table = cons_table.drop([0])

In [20]:
cons_table

Desc,index,Total amount bikes AMS,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs","Net increase bikes, %",Amount bikes AMS,"Net increase bikes, %2"
1,2016,687037,45020,6000,39020,21769,1.2,96675,17251,2.51093,864251,1.99606
2,2017,732057,46682,6000,40682,27043,1.1,78835,13639,1.86311,877890,1.55361
3,2018,778739,49535,6000,43535,26169,1,68190,17366,2.23002,895256,1.93978
4,2019,828274,52726,6000,46726,32020,1.1,66690,14706,1.7755,909962,1.61611

In [21]:
cons_table = cons_table.drop(['Total amount bikes AMS', 'Net increase bikes, %'], axis=1)

In [22]:
cons_table

Desc,index,Purchased bikes AMS,Fetched bikes AMS,Purchased - Fetched bikes AMS,Conf.bikes left market,Pct_Population_AMS,Stolen bikes,"Net increase bikes, abs",Amount bikes AMS,"Net increase bikes, %2"
1,2016,45020,6000,39020,21769,1.2,96675,17251,864251,1.99606
2,2017,46682,6000,40682,27043,1.1,78835,13639,877890,1.55361
3,2018,49535,6000,43535,26169,1,68190,17366,895256,1.93978
4,2019,52726,6000,46726,32020,1.1,66690,14706,909962,1.61611

In [23]:
# excel = cons_table.transpose()

In [24]:
# cons_table.to_excel('output.xlsx')

In [25]:
cons_table = cons_table.astype('float64')
cons_table.dtypes

Desc
index                            float64
Purchased bikes AMS              float64
Fetched bikes AMS                float64
Purchased - Fetched bikes AMS    float64
Conf.bikes left market           float64
Pct_Population_AMS               float64
Stolen bikes                     float64
Net increase bikes, abs          float64
Amount bikes AMS                 float64
Net increase bikes, %2           float64
dtype: object

In [26]:
corr_coef = cons_table['Pct_Population_AMS'].corr(cons_table['Net increase bikes, %2'])
corr_coef
# There is a positive correlation between increase in bikes and in people but this correlation is not strong

0.10266558310476716

In [27]:
corr_coef_p = cons_table['Purchased bikes AMS'].corr(cons_table['Conf.bikes left market'])
corr_coef_p
# There is a positive and strong correlation between confiscated bikes (left the market, i.e. demolished) and purchased bikes.

0.9016381366325774

In [28]:
corr_coef_f = cons_table['Purchased bikes AMS'].corr(cons_table['Fetched bikes AMS'])
corr_coef_f

nan