In [18]:
%run ./stollen.ipynb
%run ./confiscated.ipynb
%run ./purchased.ipynb

<ipython-input-18-a0516359850a>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_stollen = pd.read_csv(csv_raw, skiprows=6, sep='";"', names=['Desc', '2010', '2011', '2012', '2013', '2014', '2015',

                Desc    2011    2012    2013    2014    2015    2016    2017  \
0    Aantal (x 1000)    1198    1035    1008    1051     983     928     957
1  Waarde (x â‚¬ 1000)  879240  769159  797264  886605  899020  936829  976034

      2018  Growth ratio
0     1011          0.06
1  1220291          0.25
(2, 10)

In [17]:
bigdata = pd.concat([total_stollen, total_conf, total_purchased], ignore_index=True, sort=False)
bigdata

                Desc    2016    2017     2018     2019
0      Stollen bikes   96675   78835    68190    66690
1  Confiscated bikes   65308   81128    78506    96061
2    Purchased bikes  928000  957000  1011000  1072000