In [2]:
import pandas as pd
import requests
from io import StringIO

In [94]:
orig_url = 'https://drive.google.com/file/d/1uXK-rG07T1njpXvTNxNZcmJrVJQmfeRc/view?usp=sharing'
file_id = orig_url.split('/')[-2]
dwn_url = 'https://drive.google.com/uc?export=download&id=' + file_id

purchased = pd.read_excel(dwn_url, skiprows=1, names=['Desc', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                                                      'Growth ratio'])
purchased

,Desc,2011,2012,2013,2014,2015,2016,2017,2018,Growth ratio
0,Aantal (x 1000),1198,1035,1008,1051,983,928,957,1011,0.06
1,Waarde (x € 1000),879240,769159,797264,886605,899020,936829,976034,1220291,0.25

In [95]:
#Overview
print(purchased.head())
print(purchased.shape)
# purchased.columns() # It looks like there is no such method for data frames.

                Desc    2011    2012    2013    2014    2015    2016    2017  \
0    Aantal (x 1000)    1198    1035    1008    1051     983     928     957
1  Waarde (x € 1000)  879240  769159  797264  886605  899020  936829  976034

      2018  Growth ratio
0     1011          0.06
1  1220291          0.25
(2, 10)

In [96]:
#Checking the types
purchased.dtypes

Desc             object
2011              int64
2012              int64
2013              int64
2014              int64
2015              int64
2016              int64
2017              int64
2018              int64
Growth ratio    float64
dtype: object

In [97]:
#Adding the missing column. To be able to extrapolate the missing values later
purchased['2019']=""

In [98]:
# Calculating 2019 quantity based on growth ratio
purchased['2019'] = round(purchased['2018']*(1+purchased['Growth ratio']), 0).astype(int)
purchased

,Desc,2011,2012,2013,2014,2015,2016,2017,2018,Growth ratio,2019
0,Aantal (x 1000),1198,1035,1008,1051,983,928,957,1011,0.06,1072
1,Waarde (x € 1000),879240,769159,797264,886605,899020,936829,976034,1220291,0.25,1525364

In [99]:
#Taking out the columns and the row that we won't be needing
total_purchased = purchased.drop(['2011', '2012', '2013', '2014', '2015', 'Growth ratio'],axis=1)
total_purchased = total_purchased.loc[total_purchased['Desc'] == 'Aantal (x 1000)']

In [100]:
total_purchased['Desc'] = total_purchased['Desc'].replace('Purchased bikes')

In [102]:
total_purchased = total_purchased[['2016', '2017', '2018', '2019']].apply(lambda x: x*1000)
total_purchased.insert(0, 'Desc', 'Purchased bikes')

In [104]:
total_purchased

              Desc    2016    2017     2018     2019
0  Purchased bikes  928000  957000  1011000  1072000